In [1]:
import matplotlib.pyplot as plt
import cv2
import numpy
import os
import glob
import pandas as pd

In [9]:
from count import process

In [19]:
files3=glob.glob('../train/train3/*.tif')
bacteria=[process(item) for item in files3]
data3=pd.DataFrame({"Name":files3,"Bacteria":bacteria})
data3

                                Name  Bacteria
0    ../train/train3/Serial3_No9.tif       267
1    ../train/train3/Serial3_No8.tif       293
2    ../train/train3/Serial3_No0.tif        82
3    ../train/train3/Serial3_No1.tif        99
4    ../train/train3/Serial3_No3.tif       901
5   ../train/train3/Serial3_No14.tif       115
6    ../train/train3/Serial3_No2.tif        75
7    ../train/train3/Serial3_No6.tif       366
8   ../train/train3/Serial3_No10.tif       720
9   ../train/train3/Serial3_No11.tif       290
10   ../train/train3/Serial3_No7.tif       909
11   ../train/train3/Serial3_No5.tif       242
12  ../train/train3/Serial3_No13.tif       104
13  ../train/train3/Serial3_No12.tif       309
14   ../train/train3/Serial3_No4.tif       394

In [20]:
files4=glob.glob('../train/train4/*.tif')
bacteria=[process(item) for item in files4]
data4=pd.DataFrame({"Name":files4,"Bacteria":bacteria})
data4

                                Name  Bacteria
0   ../train/train4/Serial4_No19.tif      1059
1    ../train/train4/Serial4_No2.tif       242
2    ../train/train4/Serial4_No3.tif       187
3   ../train/train4/Serial4_No18.tif      1245
4    ../train/train4/Serial4_No1.tif       214
5    ../train/train4/Serial4_No0.tif       794
6    ../train/train4/Serial4_No4.tif       313
7    ../train/train4/Serial4_No5.tif       521
8   ../train/train4/Serial4_No20.tif      7374
9    ../train/train4/Serial4_No7.tif      1864
10   ../train/train4/Serial4_No6.tif      1686
11  ../train/train4/Serial4_No21.tif       507
12  ../train/train4/Serial4_No10.tif       209
13  ../train/train4/Serial4_No11.tif       707
14  ../train/train4/Serial4_No13.tif       438
15   ../train/train4/Serial4_No8.tif     16712
16   ../train/train4/Serial4_No9.tif       138
17  ../train/train4/Serial4_No12.tif       540
18  ../train/train4/Serial4_No16.tif       394
19  ../train/train4/Serial4_No17.tif      3135
20  ../train/train4/Serial4_No15.tif      2581
21  ../train/train4/Serial4_No14.tif      1193

In [21]:
files5=glob.glob('../train/train4/*.tif')
bacteria=[process(item) for item in files5]
data5=pd.DataFrame({"Name":files5,"Bacteria":bacteria})
data5

                                Name  Bacteria
0   ../train/train4/Serial4_No19.tif      1059
1    ../train/train4/Serial4_No2.tif       242
2    ../train/train4/Serial4_No3.tif       187
3   ../train/train4/Serial4_No18.tif      1245
4    ../train/train4/Serial4_No1.tif       214
5    ../train/train4/Serial4_No0.tif       794
6    ../train/train4/Serial4_No4.tif       313
7    ../train/train4/Serial4_No5.tif       521
8   ../train/train4/Serial4_No20.tif      7374
9    ../train/train4/Serial4_No7.tif      1864
10   ../train/train4/Serial4_No6.tif      1686
11  ../train/train4/Serial4_No21.tif       507
12  ../train/train4/Serial4_No10.tif       209
13  ../train/train4/Serial4_No11.tif       707
14  ../train/train4/Serial4_No13.tif       438
15   ../train/train4/Serial4_No8.tif     16712
16   ../train/train4/Serial4_No9.tif       138
17  ../train/train4/Serial4_No12.tif       540
18  ../train/train4/Serial4_No16.tif       394
19  ../train/train4/Serial4_No17.tif      3135
20  ../train/train4/Serial4_No15.tif      2581
21  ../train/train4/Serial4_No14.tif      1193

In [22]:
files6=glob.glob('../train/train6/*.tif')
bacteria=[process(item) for item in files6]
data6=pd.DataFrame({"Name":files6,"Bacteria":bacteria})
data6

                              Name  Bacteria
0  ../train/train6/Serial6_No2.tif      5189
1  ../train/train6/Serial6_No1.tif     15966
2  ../train/train6/Serial6_No0.tif      6367