In [73]:
import matplotlib.pyplot as plt
import cv2
import numpy
import os
import pandas as pd

In [64]:
path='../data/train4/image13.tif'

In [65]:
kernel = numpy.array([[0, -1, 0],
                   [-1, 5,-1],
                   [0, -1, 0]])

In [66]:
def process(path):
    frame = cv2.imread(path)
    image_sharp = cv2.filter2D(src=frame, ddepth=-1, kernel=kernel)
    gray = cv2.cvtColor(image_sharp, cv2.COLOR_BGR2GRAY)
    canny = cv2.Canny(gray,threshold1=100, threshold2=200)
    dilated = cv2.dilate(canny, (1,1), iterations = 1)
    (cnt, heirarchy) = cv2.findContours(dilated.copy(), cv2.RETR_EXTERNAL, cv2.CHAIN_APPROX_NONE)
    rgb = cv2.cvtColor(dilated, cv2.COLOR_BGR2RGB)
    cv2.drawContours(rgb, cnt, -1, (0,255,0), 2)

    return len(cnt)

In [67]:
print(process(path))

438

In [79]:
data=[]
names=[]
f = r'../data/train6/'
for file in os.listdir(f):
    f_img = f+"/"+file
    names.append(str(f_img))
    data.append(process(f_img))

In [80]:
df4=pd.DataFrame({"Name":names,"Count":data})

In [81]:
df4

                                        Name  Count
0     ../data/train6//730073--lt  ear 6+.tif   6367
1  ../data/train6//730073 rt ear 6+  --2.tif  15966
2       ../data/train6//730073 rt ear 6+.tif   5189

In [82]:
df

                           Name  Count
0   ../data/train4//Image13.tif    438
1   ../data/train4//Image12.tif    540
2   ../data/train4//Image10.tif    209
3   ../data/train4//Image11.tif    707
4   ../data/train4//Image15.tif   2581
5   ../data/train4//Image14.tif   1193
6   ../data/train4//Image16.tif    394
7   ../data/train4//Image17.tif   3135
8    ../data/train4//Image9.tif    138
9    ../data/train4//Image8.tif  16712
10   ../data/train4//Image0.tif    794
11   ../data/train4//Image1.tif    214
12   ../data/train4//Image3.tif    187
13   ../data/train4//Image2.tif    242
14   ../data/train4//Image6.tif   1686
15   ../data/train4//Image7.tif   1864
16   ../data/train4//Image5.tif    521
17   ../data/train4//Image4.tif    313
18  ../data/train4//Image19.tif   1059
19  ../data/train4//Image18.tif   1245
20  ../data/train4//Image20.tif   7374
21  ../data/train4//Image21.tif    507